<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name=viewport content="width=device-width, initial-scale=1">

    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    {% seo %}
    {% include analytics.html %}
  </head>
  <body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
    <div class="container">

    {{ content }}

    </div><!-- /.container -->
    <footer>
        <ul>
            <li><a href="mailto:raghavramesh94@gmail.com">e-mail</a></li>
            <li><a href="https://github.com/RaghavRamesh">GitHub</a></li>
            <li><a href="https://sg.linkedin.com/in/RaghavRamesh21">LinkedIn</a></li>
      </ul>
    </footer>
  </body>
</html>
